<h2>Login to Internal</h2>
<form class="form-horizontal" method="post">
  <div class="form-group">
    <label class="control-label col-sm-2" for="username">User Name:</label>
    <div class="col-sm-10">
      <input type="text" required class="form-control" id="username" autocapitalize="off" name="username" placeholder="Enter username">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="password">Password:</label>
    <div class="col-sm-10">
      <input type="password" required class="form-control" id="password" name="password" placeholder="Enter password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Authenticate</button>
    </div>
  </div>
</form>
