<h2>Client List</h2>

<div class="modal fade" id="clientmodaldetails" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title" id="clientdetails-namebox">Loading...</h3>
      </div>
      <div class="modal-body">
        <div id="clientdetails-ajaxdestination">
          <div style="text-align: center;">
            <img src="{{ webPath }}/assets/pageassets/images/loading.gif" alt="Loading information..."></img>
            <p style="font-size: 18px;">Loading details, please wait...</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div style="float:left; line-height: 34px;">ID: <strong id="clientdetails-idbox">Loading...</strong></div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="clientmodaledit" role="dialog">
  <form class="form-horizontal" method="post">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title" id="clientedit-namebox">Loading...</h3>
        </div>
        <div class="modal-body">
          <div id="clientedit-ajaxdestination">
            <div style="text-align: center;">
              <img src="{{ webPath }}/assets/pageassets/images/loading.gif" alt="Loading information..."></img>
              <p style="font-size: 18px;">Loading form, please wait...</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div style="float:left; line-height: 34px;">ID: <strong id="clientedit-idbox">Loading...</strong></div>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success">Update Client</button>
        </div>
      </div>
    </div>
  </form>
</div>

<table id="clientlist" class="table table-striped table-bordered">
  <thead>
    <tr>
      <td>Client Name</td>
      <td>Contact</td>
      <td>Phone (1)</td>
      <td>Phone (2)</td>
      <td>Email</td>
      <td>Action</td>
    </tr>
  </thead>
  <tbody>
  {% for Client in ClientData %}
    <tr>
      <td>{{ Client.name }}</td>
      <td>{{ Client.contact }}</td>
      <td><a href="tel:{{ Client.phone_primary }}">{{ Client.phone_primary }}</a></td>
      <td><a href="tel:{{ Client.phone_secondary }}">{{ Client.phone_secondary }}</a></td>
      <td><a href="mailto:{{ Client.email }}">{{ Client.email }}</a></td>
      <td>
        <a href="#"><span title="Details" data-toggle="modal" data-target="#clientmodaldetails" onclick="setClientDetails({{ Client.id }});" class="glyphicon glyphicon-list-alt"> </span></a>
        <a href="#"><span title="Edit" data-toggle="modal" data-target="#clientmodaledit" onclick="setClientEditForm({{ Client.id }});" class="glyphicon glyphicon-pencil"> </span></a>
        <a href="?delete={{ Client.id }}"><span title="Delete" class="glyphicon glyphicon-remove deletebutton"> </span></a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<script>
  $(document).ready(function() {
    $("#clientlist").DataTable({
      paging: true,
      lengthChange: false,
      lengthMenu: [ 15 ],
      language: {
        zeroRecords: "No matching clients found.",
        info: "Showing _START_ to _END_ of _TOTAL_ clients.",
        infoEmpty: "Showing 0 to 0 of 0 clients.",
        infoFiltered: "(filtered from _MAX_ clients)"
      },
      responsive: true,
      searching: true,
      info: true,
      order: [[ 0, "asc" ]],
      aoColumnDefs:
        [
          {
             bSortable: false,
             aTargets: [ 5 ]
          }
        ]
    });
  });

  function setClientDetails(id) {
    $.post("{{ webPath }}/assets/php/ajax/client.php",
    {
      type: "details",
      client_id: id
    },
    function(data, status) {
      if (status == "success") {
        $("#clientdetails-ajaxdestination").html(data);
      } else {
        alert(status);
      }

      // set client name at top of modal
      $("#clientdetails-namebox").text("Details for " + $("#client_name").text());

      // set the client id in the bottom left of the modal
      $("#clientdetails-idbox").text(id);
    });
  }

  function setClientEditForm(id) {
    $.post("{{ webPath }}/assets/php/ajax/client.php",
    {
      type: "edit",
      client_id: id
    },
    function(data, status) {
      if (status == "success") {
        $("#clientedit-ajaxdestination").html(data);

        // set client name at top of modal
        $("#clientedit-namebox").text("Editing " + $("#client_name").text());

        // set the client id in the bottom left of the modal
        $("#clientedit-idbox").text(id);
      } else {
        alert(status);
      }
    });
  }
</script>
