<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fatal Error</title>
    <style>
      body {
        font-family: sans-serif;
      }
      
      h1, footer, p {
        text-align: center;
      }
      
      .errorbox {
        background-color: red;
        color: white;
        padding: 10px;
        border-radius: 5px;
      }
    </style>
  </head>
  <body>
  <br /><br />
  <h1>Fatal Error Occurred</h1>
  <div class="errorbox">
    <p style="font-family: monospace;">{{ error }}</p>
  </div>
  <footer><p>TomTec Solutions - Web Framework</p></footer>
  </body>
  <html>
