<br />
<footer class="centered" style="opacity: 0.6;">
  &copy; {{ "now"|date("Y") }} <a href="index">TomTec Solutions</a>. All rights reserved.<br />
  Unauthorised access to {{ siteName }} is prohibited.
</footer>
<br />
